* {
  background-color: #222629;
  color: #c5c6c8;
  font-family: 'Cabin', Sans-Serif;
  font-size: 16px;
  padding: 0 2%;
}

hr {
  width: 60%;
}
@media only screen and (min-width: 320px) {
  .header {
    text-align: center;
    margin: 60px 0;
  }
  .header h4 {
    text-align: center;
    font-size: 2em;
    margin: 0;
    font-weight: 100;
    letter-spacing: 0.5em;
  }
  .header h1 {
    text-align: center;
    font-family: 'Roboto Condensed', Sans-Serif;
    font-size: 5em;
    color: #f8a71d;
    letter-spacing: 0.1em;
  }
  .header {
    text-align: center;
    margin: 60px 0;
  }
  .header h4 {
    text-align: center;
    font-size: 2em;
    margin: 0;
    font-weight: 100;
    letter-spacing: 0.5em;
  }
  .header h1 {
    text-align: center;
    font-family: 'Roboto Condensed', Sans-Serif;
    font-size: 5em;
    color: #f8a71d;
  }
  .about_me {
    text-align: center;
  }
  .about_me img {
    border-radius: 50%;
    width: 70%;
    height: auto;
    border: 10px solid #f8a71d;
  }
  .pro_summary {
    flex: 2;
  }
  .pro_summary h3 {
    color: #f8a71d;
    font-size: 2em;
    letter-spacing: 0.2em;
  }
  .pro_summary p {
    font-size: 1.5em;
  }
  .my_info h3 {
    color: #f8a71d;
    font-size: 2em;
    letter-spacing: 0.2em;
  }

  .my_workAndEduc {
    text-align: left;
  }
  .my_workAndEduc li {
    display: flex;
    margin: 20px 0;
  }
  .year {
    flex: 1;
    font-size: 1em;
  }
  .workAndEduc_info {
    flex: 2;
  }
  .workAndEduc_info h1 {
    font-size: 1em;
  }
  .workAndEduc_info ul li {
    font-size: 1em;
  }
  .react_skill {
    margin: 5% 0;
  }
  .dot {
    color: #f8a71d;
    font-size: 2em;
  }
  .progressbar {
    width: 75%;
    height: 24px;
    background-image: #f8a71d;
  }
  progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(
        -45deg,
        transparent 33%,
        #f8a71d,
        #f8a71d,
        transparent 66%
      ),
      -webkit-linear-gradient(top, #f8a71d, #f8a71d),
      -webkit-linear-gradient(left, #f8a71d, #f8a71d);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }
  footer {
    text-align: center;
  }
  footer h3 {
    color: #f8a71d;
    font-size: 2em;
    letter-spacing: 0.2em;
  }
  .fas {
    color: #f8a71d;
    size: 20px;
  }
  .personal_info {
    justify-content: center;
  }
  .personal_info p {
    font-size: 1.5em;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .year {
    font-size: 1.5em;
  }
  .workAndEduc_info h1 {
    font-size: 1.5em;
  }
  .workAndEduc_info ul li {
    font-size: 1.2em;
  }
  .dot {
    font-size: 2em;
  }
  .my_image {
    margin-top: 5%;
    margin-left: 5%;
  }
  .my_skills {
    margin-top: 5%;
    margin-left: 5%;
  }
  .educationText {
    margin: 0;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .header {
    text-align: center;
  }
  .about_me {
    display: flex;
  }
  .my_image {
    flex: 1;
  }
  .about_me img {
    height: auto;
  }
  .pro_summary {
    text-align: left;
  }
  .my_info {
    display: flex;
  }

  .my_skills {
    flex: 1;
  }
  .my_workAndEduc {
    flex: 2;
  }
  .my_workAndEduc li {
    display: flex;
  }
  .year {
    flex: 1;
  }
  .workAndEduc_info {
    flex: 2;
  }
  .workAndEduc_info h1 {
    font-size: 1.5em;
  }
  .workAndEduc_info ul li {
    font-size: 1.2em;
  }
  .personal_info {
    display: flex;
  }
}
